In [91]:
import pandas as pd

In [92]:
data = pd.read_csv("table_count.csv") # 매출 건수 기준
#data = pd.read_csv("table_sum.csv") # 매출 건수 기준

In [93]:
columns = data.columns
new_columns = list(columns)[1:]

del data[data.columns[-1]]
data.columns = new_columns
data.head()

,식품,담배,브랜드화장품,브랜드피혁,브랜드의류,화장품,향수,주류,브랜드귀금속/실버,브랜드패션악세사리,...,편의용품,문구류,귀금속/실버,브랜드편의용품,브랜드오락완구/유아용품,주류/담배,시계,공예품,기획상품,브랜드선글래스
CHN,32436,35221,92,3398,162,121755,5302,4071,359,808,...,50,223,1484,3,0,0,1114,292,9,26
VNM,426,233,2,27,5,1264,84,308,0,6,...,0,0,1,0,0,0,34,4,0,2
JPN,10916,3587,95,878,35,9102,598,867,15,181,...,13,44,143,3,0,0,134,214,2,7
KOR,50372,133702,287,6507,175,156853,16258,19896,151,1757,...,385,1114,3474,4,0,10,4047,1330,68,55
OTH,14195,6877,27,235,16,12867,2630,5786,18,99,...,17,83,124,0,1,0,186,754,0,4

In [94]:
countries = data.index.values

In [95]:
del data["주류/담배"]   # 이 부분은 품목 전처리 과정에서 오류가 좀 있었음

In [96]:
X = data
X.head()

,식품,담배,브랜드화장품,브랜드피혁,브랜드의류,화장품,향수,주류,브랜드귀금속/실버,브랜드패션악세사리,...,선글래스,편의용품,문구류,귀금속/실버,브랜드편의용품,브랜드오락완구/유아용품,시계,공예품,기획상품,브랜드선글래스
CHN,32436,35221,92,3398,162,121755,5302,4071,359,808,...,3337,50,223,1484,3,0,1114,292,9,26
VNM,426,233,2,27,5,1264,84,308,0,6,...,67,0,0,1,0,0,34,4,0,2
JPN,10916,3587,95,878,35,9102,598,867,15,181,...,272,13,44,143,3,0,134,214,2,7
KOR,50372,133702,287,6507,175,156853,16258,19896,151,1757,...,14292,385,1114,3474,4,0,4047,1330,68,55
OTH,14195,6877,27,235,16,12867,2630,5786,18,99,...,392,17,83,124,0,1,186,754,0,4

In [97]:
X = X.div(X.sum(axis=1), axis=0) # normalize data

In [98]:
X.head()

,식품,담배,브랜드화장품,브랜드피혁,브랜드의류,화장품,향수,주류,브랜드귀금속/실버,브랜드패션악세사리,...,선글래스,편의용품,문구류,귀금속/실버,브랜드편의용품,브랜드오락완구/유아용품,시계,공예품,기획상품,브랜드선글래스
CHN,0.146591,0.159178,0.000416,0.015357,0.000732,0.550260,0.023962,0.018399,0.001622,0.003652,...,0.015081,0.000226,0.001008,0.006707,0.000014,0.00000,0.005035,0.001320,0.000041,0.000118
VNM,0.162782,0.089033,0.000764,0.010317,0.001911,0.482996,0.032098,0.117692,0.000000,0.002293,...,0.025602,0.000000,0.000000,0.000382,0.000000,0.00000,0.012992,0.001528,0.000000,0.000764
JPN,0.383367,0.125975,0.003336,0.030835,0.001229,0.319660,0.021002,0.030449,0.000527,0.006357,...,0.009553,0.000457,0.001545,0.005022,0.000105,0.00000,0.004706,0.007516,0.000070,0.000246
KOR,0.115576,0.306772,0.000659,0.014930,0.000402,0.359891,0.037303,0.045650,0.000346,0.004031,...,0.032792,0.000883,0.002556,0.007971,0.000009,0.00000,0.009286,0.003052,0.000156,0.000126
OTH,0.287604,0.139335,0.000547,0.004761,0.000324,0.260698,0.053286,0.117230,0.000365,0.002006,...,0.007942,0.000344,0.001682,0.002512,0.000000,0.00002,0.003769,0.015277,0.000000,0.000081

In [99]:
from sklearn import metrics
from sklearn.metrics import pairwise_distances
from sklearn.cluster import KMeans
from sklearn import decomposition

In [100]:
X.shape

(27, 28)

In [102]:
pca = decomposition.PCA()
pca.fit(X)

import numpy as np
print(np.cumsum(pca.explained_variance_ratio_ * 100))  # explained variance ratio

[  76.74915059   86.91809511   92.51504861   96.57064819   98.17432754
   98.69986631   99.12946407   99.42610074   99.62804989   99.7644571
   99.86855627   99.92186731   99.9539197    99.97500487   99.98806156
   99.99265016   99.99592255   99.99764051   99.99874354   99.99937724
   99.99966636   99.99983529   99.99996242   99.99999745   99.99999999
  100.          100.        ]

In [104]:
pca = decomposition.PCA(n_components=7)
X_pca = pca.fit(X).transform(X)  # pca로 차원축소된 데이터

['euclidean', 'l2', 'l1', 'manhattan', 'cityblock', 'braycurtis', 'canberra', 'chebyshev', 'correlation', 'cosine', 'dice', 'hamming', 'jaccard', 'kulsinski', 'mahalanobis', 'matching', 'minkowski', 'rogerstanimoto', 'russellrao', 'seuclidean', 'sokalmichener', 'sokalsneath', 'sqeuclidean', 'yule', 'wminkowski']

In [105]:
result = []  # 실루엣 값들을 저장할 list

for i in range(2, 10):
    kmeans = KMeans(n_clusters=i).fit(X_pca)  # pca 처리한 데이터
    #kmeans = KMeans(n_clusters=i).fit(X)    # pca 없이 그대로
    result.append(metrics.silhouette_score(X_pca, kmeans.labels_, metric="euclidean"))  # 실루엣

In [106]:
print (result)  # 실루엣 값들

[0.48002432702594028, 0.37563568375252554, 0.33524871659820871, 0.35840012294072782, 0.39661634960891551, 0.36941484621853671, 0.38325324109149006, 0.41983471019987556]

In [108]:
K = 6    # the number of clusters
#kmeans = KMeans(n_clusters = K).fit(X) # pca 없이 그대로
kmeans = KMeans(n_clusters = K).fit(X_pca) # pca 처리한 데이터

In [109]:
kmeans.labels_

array([2, 2, 4, 5, 4, 4, 2, 3, 2, 2, 2, 4, 1, 2, 1, 1, 1, 1, 1, 4, 3, 3, 2,
       3, 3, 1, 0])

In [110]:
for i in range(K):
    print(countries[kmeans.labels_ == i])

['ORS']
['GBR' 'PHL' 'IDN' 'AUS' 'CAN' 'FRA' 'IND']
['CHN' 'VNM' 'THA' 'SGP' 'USA' 'TWN' 'ASI' 'HKG']
['RST' 'MAS' 'INA' 'PHI' 'SEA']
['JPN' 'OTH' 'RUS' 'MYS' 'EUR']
['KOR']