In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("sales9.csv")

In [3]:
data.head()

   Unnamed: 0                 DATE ITEM BRAND COUNTRY   REVENUE
0           0  2016-04-29 12:09:42   식품   0.0     CHN   49273.0
1           1  2016-04-29 12:11:34   담배   0.0     CHN   33191.0
2           2  2016-04-29 12:11:34   담배   0.0     CHN   25209.0
3           3  2016-04-29 12:12:20   식품   0.0     CHN   13750.0
4           4  2016-04-29 12:16:48   식품   0.0     CHN  182179.0

In [4]:
data["BRAND"].unique()

array(['0.0', '1.0', '쌤소나이트'], dtype=object)

In [5]:
data["ITEM"].unique()

array(['식품', '담배', '화장품', '피혁', '의류', '향수', '주류', '귀금속/실버', '패션악세사리',
       '전자제품', '기념품', '오락완구/유아용품', '시계', '선글래스', '편의용품', '문구류', '주류/담배',
       '공예품', '기획상품'], dtype=object)

In [6]:
data["BRAND"].replace('쌤소나이트', '0.0', inplace=True)  # 쌤소나이트는 브랜드가 아닌것으로 분류
data["BRAND"].replace(["0.0", "1.0"],[0, 1], inplace=True)

In [7]:
data["BRAND"].unique()

array([0, 1], dtype=int64)

In [8]:
def label_race(row):      # BRAND열과 ITEM열을 합쳐서 ITEM에 저장.  ex) 브랜드=1, ITEM=의류 => 브랜드의류
    if row["BRAND"] == 0:
        return row["ITEM"]
    else:
        return "브랜드" + row["ITEM"]

data["ITEM"] = data.apply(lambda row: label_race(row), axis=1)

In [9]:
ITEMS = data["ITEM"].unique()
COUNTRIES = data["COUNTRY"].unique()

In [10]:
with open("table_sum.csv", "w", encoding ="utf-8") as f:
    
    f.write("," + ",".join(data["ITEM"].unique())+"\n")
    
    for c in COUNTRIES:
        
        print(c+" start\n")  #진행상황을 확인하기 위한 print문
        
        line = c + ","
            
        for i in ITEMS:
            # country c와 item i에 해당되는 매출건수를 센다.
            #line += str(data.ix[(data['COUNTRY'] == c) & (data['ITEM'] == i)].count()[0]) + ',' 
            
            # 매출액 기준일경우
            line += str(data.ix[(data['COUNTRY'] == c) & (data['ITEM'] == i)].sum()[5]) + ',' 
            
        line += "\n"
        
        print(c+" END\n")   #진행상황을 확인하기 위한 print문
        
        f.write(line)

CHN start

CHN END

VNM start

VNM END

JPN start

JPN END

KOR start

KOR END

OTH start

OTH END

RUS start

RUS END

THA start

THA END

RST start

RST END

SGP start

SGP END

USA start

USA END

TWN start

TWN END

MYS start

MYS END

GBR start

GBR END

ASI start

ASI END

PHL start

PHL END

IDN start

IDN END

AUS start

AUS END

CAN start

CAN END

FRA start

FRA END

EUR start

EUR END

MAS start

MAS END

INA start

INA END

HKG start

HKG END

PHI start

PHI END

SEA start

SEA END

IND start

IND END

ORS start

ORS END